<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>playpoint | Детали игры</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body class="bg-gradient-to-bl from-gray-900 to-gray-700">
<div class="flex flex-col w-full h-screen items-center gap-y-4">
  <p class="title-text">playpoint</p>
  <div class="flex flex-col w-2/3">
    <h1 class="general-text" th:text="${game.gameName}"></h1>

    <div class="section">
      <h2 class="section-title">Обновления</h2>
      <ul>
        <li class="basic-text" th:each="update : ${game.updates}" th:text="${update.updateUrl}"></li>
      </ul>
    </div>

    <div class="section">
      <h2 class="section-title">Отзывы</h2>
      <ul>
        <li th:each="review : ${game.reviews}">
          <p class="basic-text" th:text="${review.user.nickname} + ': ' + ${review.text}"></p>
        </li>
      </ul>
      <form th:action="@{'/games/' + ${gameId} + '/reviews'}" method="post">
        <textarea name="text" rows="3" cols="50" placeholder="Оставьте отзыв" class="resize-none w-full"></textarea>
        <button type="submit" class="big-button bg-gradient-to-br from-gray-900 to-green-950">
          Оставить отзыв
        </button>
      </form>
    </div>

    <div class="section">
      <h2 class="section-title">Отчёты об ошибках</h2>
      <ul>
        <li th:each="report : ${game.issueReports}">
          <p class="basic-text" th:text="${report.user.nickname} + ': ' + ${report.reportText}"></p>
        </li>
      </ul>
      <form th:action="@{'/games/' + ${gameId} + '/reports'}" method="post">
        <textarea name="reportText" rows="3" cols="50" placeholder="Опишите проблему" class="resize-none w-full"></textarea>
        <button type="submit" class="big-button bg-gradient-to-br from-gray-900 to-red-950">
          Сообщить об ошибке
        </button>
      </form>
    </div>

    <div th:if="${!owned}">
      <form th:action="@{'/games/' + ${gameId} + '/purchase'}" method="get">
        <button type="submit" class="big-button bg-gradient-to-br from-gray-900 to-green-950">
          Купить игру
        </button>
      </form>
    </div>
    <a th:href="@{'/games/' + ${gameId} + '/user-content'}" class="big-button bg-gradient-to-br from-gray-900 to-green-950 text-center">
      Перейти к пользовательскому контенту
    </a>
  </div>
</div>
</body>
</html>
